accessToken=your_value_here
APP_NOTIFICATION_EMAIL_SMTP_PASSWORD=REDACTED_SEE_ENV
APP_NOTIFICATION_SMS_API_KEY=your_value_here
APP_SECURITY_ADMIN_PASSWORD=REDACTED_SEE_ENV
APP_SECURITY_BORROWER_PASSWORD=REDACTED_SEE_ENV
APP_SECURITY_JWT_SECRET=REDACTED_SEE_ENV
APP_SECURITY_TENANT_ADMIN_PASSWORD=REDACTED_SEE_ENV
APP_STRIPE_API_KEY=your_value_here
APP_STRIPE_CURRENCY=your_value_here
APP_STRIPE_ENABLED=your_value_here
APP_STRIPE_MOCK_ALLOWED_DESTINATION_ACCOUNTS=your_value_here
APP_STRIPE_MOCK_DESTINATION_PREFIX=your_value_here
APP_STRIPE_MOCK_DISBURSEMENT_TRANSFER_ENABLED=your_value_here
BORROWER_TOKEN=your_value_here
clientSecret=REDACTED_SEE_ENV
DB_PASSWORD=REDACTED_SEE_ENV
password=REDACTED_SEE_ENV
PLATFORM_TOKEN=your_value_here
SMTP_PASSWORD=REDACTED_SEE_ENV
TENANT_TOKEN=your_value_here
TOKEN=your_value_here
tokenType=your_value_here

